@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");

body,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #1f1e1e;
  font-family: "Libre Baskerville", serif;
}

a {
  color: rgb(218, 216, 216);
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  line-height: 34px;
  color: rgb(160, 160, 160);
  letter-spacing: 00.114em;
}
.btn-prim {
  background-color: rgb(218, 216, 216);
  padding: 0.5rem 2rem;
  color: #000;
  font-weight: bolder;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  text-transform: capitalize;
}

.btn-sec {
  background-color: #494949;
  padding: 0.5rem 2rem;
  color: #c4c4c4;
  font-weight: bolder;
  cursor: pointer;
  border: 4px solid #000000;
  border-radius: 4px;
  text-transform: capitalize;
  margin-left: 1rem;
}
/* ####### navbar  ########  */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: #494949;
  border-bottom: 4px solid #c4c4c4;
}

#navbar .logo {
  width: 7%;
}

#navbar .navbar-links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

#navbar .navbar-links a:hover {
  color: #fff;
}

/* ####### Hero  ########  */

#hero {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}
#hero .text-box {
  font-size: 20px;
  color: #c4c4c4;
  width: 40%;
}

#hero .text-box h2 {
  font-size: 3rem;
  font-weight: bolder;
  text-transform: capitalize;
}

#hero .photo {
  width: 60%;
}
/* ####### about container ########  */
#about-container {
  margin: 1rem 3rem;
  padding: 2rem;
  background-color: #494949;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#about-container .photos {
  position: relative;
  width: 100%;
}

#about-container .photos img:last-child {
  position: absolute;
  top: 100px;
  left: 7px;
}

#about-container .about-box {
  margin-left: 1.7rem;
  text-transform: capitalize;
  width: 100%;
}

#about-container .about-box h3 {
  color: #c4c4c4;
  letter-spacing: 0.114em;
  font-size: 1.2rem;
}

.line {
  width: 26%;
  padding: 0.1rem;
  background-color: #000;
}

/* ####### projects-grid ########  */
#projects-grid {
  margin: 4rem 3rem;
}

#projects-grid h3 {
  color: #c4c4c4;
  letter-spacing: 0.114em;
  text-transform: capitalize;
  font-size: 1.2rem;
}

#projects-grid .line {
  width: 12%;
  padding: 0.1rem;
  background-color: #000;
}
